<ul class="diamonds">
{% for dream in site.dreams %}
  <li>
    <a href="#" class="grid-diamond">
      {% assign avatar = site.dreamers | where: "slug", dream.dreamer | first %}
      <div class="diamond-left">
        <div class="diamond-left-content" style="background-image: url({{ avatar.avatar_image }});">
          
        </div>
      </div>
      {% assign featured = dream.dream_images[0].dream_image %}
      <div class="diamond-content" style="background-image: url({{ featured }});">
        {{ site.title }}
      </div>
      <div class="diamond-right">
        {% assign badge = site.data.badges[dream.badges.first].badge_image %}
        <div class="diamond-right-content" style="background-image: url({{ badge }});">
          
        </div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
