<footer id="page-footer">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-4">
              <img src="http://placehold.it/350x350" class="img-responsive" alt="">
            </div>
            <div class="col-sm-8">
              <p>Each dreamer is represented by their spirit animal on their quest to achieve their dreams.</p>
              <a href="#" class="btn btn-default">Meet The Dreamers</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="http://placehold.it/350x350" class="img-responsive" alt="">
            </div>
            <div class="col-sm-8">
              <p>When the dream is achieved, the dreamer receives a dream achievement badge within one of seven categories.</p>
              <a href="#" class="btn btn-default">See All The Dreams</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="stat logged">
            <span class="number">14</span>
            <span class="stat-title">Dreams<br>Logged</span>
          </div>
          <div class="stat in-progress">
            <span class="number">5</span>
            <span class="stat-title">Dreams in<br>Progress</span>
          </div>
          <div class="stat achieved">
            <span class="number">2</span>
            <span class="stat-title">Dreams<br>Achieved</span>
          </div>
        </div>
      </div>
      <div class="content">
        <form id="site-search-form" class="hide">
          <i class="icon-search"></i>
          <label class="sr">Search</label>
          <input id="search_box" class="keyterms" type="text" placeholder="Enter Keyterms">
          <input type="submit" value="Search" disabled>
        </form>
      </div>
    </div>
  </section>
  <div class="footerbar">
    <h1>Dream Machine</h1>
    <p>By Ocupop</p>
  </div>
</footer>
