<header id="page-header">
  <div id="mainnav">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand animated fadeIn" href="{{ site.baseurl }}/"><img src="/img/logo.svg" class="img-responsive hide" alt="{{ site.title }}" ></a>
        </div>
        <div class="collapse navbar-collapse" id="mainnav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/dream-team">Dream Team</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>