---
layout: default
---
<div class="container">
  <div class="row">
    <h1>{{ page.name }}</h1>
    <img src="{{ page.avatar }}" alt="">
    <h2>{{ page.email }}</h2>

  </div>
  <div class="row">
    {% if page.dreams %}
    {% for object in page.dreams %}
      <div class="col-md-3">
        {% assign dream = site.dreams | where: "slug", object  | first %}
        {% assign featured = dream.dream_images[0].dream_image %}
        <h2>{{ dream.title }}</h2>
        <p>{{ dream.description }}</p>
        <img src="{{ featured }}" class="img-responsive" alt="">
      </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
