---
layout: default
status: 
 - created
 - in-progress
 - completed
---

<section>
  <div class="container">
    <div class="row middle-xs">
      <div class="col-sm-6">
        {% assign featured = page.dream_images[0].dream_image %}
        <img src="{{ featured }}" class="img-responsive center-block" alt="featured image">
      </div>
      <div class="col-sm-6">
        {% assign dreamer = site.dreamers | where: "slug", page.dreamer  | first %}
        <img src="{{ dreamer.avatar }}" class="img-responsive" style="max-width: 50px;" alt="">
        <h3>{{ dreamer.name }}</h3>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p>{{ page.status }} - {{ page.date }}</p>
      </div>
    </div>
  </div>
</section>
<section>
  {% include dream_grid.html %}
</section>
