---
layout: default
---
<section>
  <div class="container">
    <div class="row middle-xs">
      <div class="col-sm-6">
        <img src="{{ page.avatar }}" class="img-responsive" alt="{{ page.name }} avatar">
      </div>
      <div class="col-sm-6">
        <h1>{{ page.name }}</h1>
        <h3>{{ page.email }}</h3>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>  
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive"  alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
      <div class="col-xs">
        <img src="http://placehold.it/500x500" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>
<section>
  {% include dream_grid.html %}
  <div class="container hide">
    <div class="row">
      {% if page.dreams %}
      {% for object in page.dreams %}
        <div class="col-md-12">
          {% assign dream = site.dreams | where: "slug", object  | first %}
          {% assign featured = dream.dream_images[0].dream_image %}
          <h2>{{ dream.title }}</h2>
          <p>{{ dream.description }}</p>
          <!-- <img src="{{ featured }}" class="img-responsive" alt=""> -->
        </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>  