/* -----------------------------------------
  Global
----------------------------------------- */
html {}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

section {
  padding: 50px 0;
}

/* -----------------------------------------
  DOM
----------------------------------------- */
#page {}
#page-header {
  background-color: $gray-dark;
}
#page-content {
  // margin-bottom: 500px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
}
#page-footer {
  background-color: $gray;
  z-index: -1;
  h1 {
    color: #fff;
  }
  .footerbar {
    background-color: $gray-dark;
    text-align: center;
    padding: 20px 0;
    color: $white;
  }
}

#dreamers {
  .diamond-md {
    margin: 23px;
    z-index: 50;
  }
  .diamond-lg {
    margin: 25px 35.5px;
  }
  .name {
    position: absolute;
    left: 0;
  }
  .row {
    &.row-reverse {
      .diamond-wrapper {
        flex-direction: row-reverse;
      }
      .diamond-lg {
        margin-left: -90px;
      }
      .name {
        left: auto;
        right: 0;
      }
    }
  }
  
}

#progress {
  .diamond-wrapper {
    justify-content: space-around;
  }
}


/* -----------------------------------------
  Navigation
----------------------------------------- */
#mainnav {
  .navbar {
    margin: 0;
  }
  .navbar-brand {
    text-shadow: none;
    color: #fff;
  }
  .navbar-nav {
    margin: 0;
    li {
      a {
        color: #fff;
        text-shadow: none;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        &:hover {
          background-color: $gray-darker;
        }

      }
    }
  }
}
#footernav {}

/* -----------------------------------------
  General Classes
----------------------------------------- */

// $gray-base:         #0D0D0D;
// $gray-darker:       #1A1A1A;
// $gray-dark:         #414042;
// $gray:              #58595B;
// $gray-light:        #D0D2D3;
// $gray-lighter:      #F0F1F1;

.gray-base {
  background-color: $gray-base;
}

.gray-darker {
  background-color: $gray-darker;
}

.gray-dark {
  background-color: $gray-dark;
  color: $white;
}

.gray {
  background-color: $gray;
}

.gray-light {
  background-color: $gray-light;
}

.gray-lighter {
  background-color: $gray-lighter;
}

.hero {
  height: 350px;
  background: url('http://placehold.it/1500x1000/?text=Really+Sweet+Background') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 75px;
  }
}

.intro {
  padding: 100px 0;
  p {
    font-size: 50px;

  }
  small {
    font-size: 25px;
  }
}

.border-circle {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $gray-dark;
  margin: 0 auto;
  padding: 2px;
}


