/* @group mixins */
  @mixin respond-to($query) {
    @media only screen and #{$query}  {
      @content
    }
  }

  @mixin diamond-grid-breakpoint($query, $maxWidth, $n, $maxRow) {
    @include respond-to(#{$query}) {
      .csstransforms & {
        max-width: $maxWidth;

        > li {
          &:nth-child(#{$n}n+#{$maxRow + 1}) {
            margin-left: 135px;
          }

          &:nth-child(#{$n}n+#{$maxRow}) {
            margin-right: 0;
          }

          &:nth-child(n+#{$maxRow}) {
            margin-top: -55px;
          }
        }
      } 
    }
  }
/* @end */

/* @group diamonds */
  $diamondSize: 190px;
  $belowDiamondSize: 160px;
  $diamondQuery1: '(min-width: 1348px)';
  $diamondQuery2: '(max-width: 1347px) and (min-width: 1078px)';
  $diamondQuery3: '(max-width: 1077px) and (min-width: 808px)';
  $diamondQuery4: '(max-width: 807px) and (min-width: 538px)';
  $belowDiamond: '(max-width: 537px)';
  
  .diamonds {
    list-style: none;
    font-size: 0;
    margin: 40px auto;
    padding: 0;
    @include diamond-grid-breakpoint($query: $diamondQuery1, $maxWidth: 1270px, $n: 9, $maxRow: 5);
    @include diamond-grid-breakpoint($query: $diamondQuery2, $maxWidth: 1000px, $n: 7, $maxRow: 4);
    @include diamond-grid-breakpoint($query: $diamondQuery3, $maxWidth: 730px, $n: 5, $maxRow: 3);
    @include diamond-grid-breakpoint($query: $diamondQuery4, $maxWidth: 460px, $n: 3, $maxRow: 2);

    .csstransforms & {
      padding: 39px 0;

      @include respond-to($belowDiamond) {
        padding: 0;
        text-align: center;
      }
    }

    .no-csstransforms & {
      max-width: 1060px;
    }

    > li {
      display: inline-block;
      font-size: 18px;
      margin-right: 80px;

      @include respond-to($belowDiamond) {
        margin-right: 0;
        width: $belowDiamondSize;
      }

      .no-csstransforms & {
        margin: 0 20px 20px 0;
      }
    }

    .grid-diamond {
      backface-visibility: hidden;
      background: #f4f4f4;
      box-shadow: 0 0 0 1px #ccc;

      color: #000;
      display: block;
      height: $diamondSize;
      overflow: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
      position: relative;
      text-decoration: none;
      width: $diamondSize;
      &:hover {
        opacity: 0.5;
      }
      .csstransforms & {
        overflow: hidden;
        transform: rotate(-45deg);

        @include respond-to($belowDiamond) {
          height: $belowDiamondSize;
          transform: rotate(0deg);
          width: $belowDiamondSize;
        }
      }
    }

    .diamond-content {
      height: $diamondSize * 1.6;
      padding: 0 10px;
      transform: rotate(45deg);
      text-align: center;
      vertical-align: middle;
      width: $diamondSize * 1.6;
      margin-left: $diamondSize * -0.342;
      margin-top: $diamondSize * -0.342;
      background-position: center center;

      @include respond-to($belowDiamond) {
        .csstransforms & {
          height: $belowDiamondSize;
          transform: rotate(0);
          width: $belowDiamondSize;
        }
      }
    }
  }
/* @end */
.diamond-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 55px;
  background-size: cover;
  z-index: 100;
  overflow:hidden;
  border: 1px solid $gray;
  background-color: $white;
}

.diamond-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 55px;
  z-index: 100;
  overflow: hidden;
  border: 1px solid $gray;
  background-color: $white;
}

.diamond-left-content, .diamond-right-content {
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  background-size: cover;
}
// .diamond {
//   &:before, &:after {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     width: 55px;
//     height: 55px;
//     background-color: blue;
//     z-index: 100;
//   }
//   &:before {
//     left: 0;
//   }
//   &:after {
//     right: 0;
//   }
// }