/* -----------------------------------------
  Splash
----------------------------------------- */


.container {
  margin: 0 auto;
  padding: 0 25px;
}

#page-header {
  background: #fff;
  width: 100%;
  padding: 90px 0 75px 0;
  .logo {
    max-width: 150px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    color: #272729;
  }
}

#page {
  .bg {
    width: 100%;
    padding: 90px 0 75px 0;
    background-color: black;
    background-size: cover;
    background-position: center;
    .intro {
      text-align: center;
      max-width: 550px;
      margin: 0 auto;
      padding: 0 25px;
      h2 {
        font-size: 2em;
      }
      p {
        margin: 15px 0 0 0;
      }
    }
    .img-banner {
      display: flex;
      overflow: hidden;
      align-content: stretch;
      justify-content: center;
      margin: 85px 0 55px 0;
      .thumb {
        max-width: 450px;
        img {
          width: 100%;
        }
      }
    }
    .social {
      text-align: center;
      max-width: 350px;
      margin: 0 auto;
      padding: 0 25px;
      .social-icon {
        max-width: 80px;
        margin: 0 auto;
        padding-bottom: 20px;
        img {
          width: 100%;
        }
      }
      h3 {
        font-size: 1.30em;
      }
    }
  }
}



@media (max-width: 768px) {
  #page {
    .bg {
      .img-banner {
        flex-wrap: wrap;
        align-content: stretch;
        margin: 65px 0 45px 0;
        .thumb {
          width: 50%;
        }
      }
    }
  }
}


@media (max-width: 650px) {
  #page-header {
    .logo {
      padding-bottom: 20px;
    }
    h1 {
      font-size: 2.75em;
    }
  }
}


@media (max-width: 450px) {
  #page-header {
    padding: 45px 0 30px 0;
    .logo {
      max-width: 110px;
    }
    h1 {
      font-size: 1.8em;
    }
  }
  #page {
    .bg {
      padding: 45px 0 30px 0;
      .intro {
        h2 {
          font-size: 1.6em;
        }
      }
      .img-banner {
        margin: 45px 0 35px 0;
        .thumb {
          flex: 2 auto;
          img {
            min-width: 160px;
          }
        }
      }
      .social {
        .social-icon {
          max-width: 55px;
        }
        h3 {
          font-size: 1.3em;
        }
      }
    }
  }
  #page-footer {
    padding: 50px 0;
    .footer-logo {
      img {
        padding-bottom: 10px;
      }
    }
  }
}
