#site-search-results {
  display: none;
  margin-top: 105px;
  background: #fff;
  #search_results {
    a {
      color: $gray;
      &:hover {
        color: $gray-base;
      }
    }
    em {
      font-size: 65%;
      opacity: 0.7;
    }
    h2 {
      border-bottom: 1px solid rgba($gray, 0.4);
      margin-bottom: 3px;
    }
    li {
      margin-bottom: 35px;
    }
  }
}