/* -----------------------------------------
  Utility Classes
----------------------------------------- */

.content {
 position: relative;
 padding: $content-padding;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }