/* -----------------------------------------
   Variables
----------------------------------------- */

$gray-base:         #0D0D0D;
$gray-darker:       #1A1A1A;
$gray-dark:         #414042;
$gray:              #58595B;
$gray-light:        #D0D2D3;
$gray-lighter:      #F0F1F1;

$content-padding:                 20px;